<?xml version="1.0" encoding="UTF-8"?>
<configuration>   

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">   
        <Encoding>UTF-8</Encoding>   
        <layout class="ch.qos.logback.classic.PatternLayout">   
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n   
            </pattern>   
        </layout>   
    </appender>   
       
    <appender name="prizeDateLog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.dir}/prizedata.log</File>
		<encoder>
			<pattern>%-20(%d{yyyy-MM-dd HH:mm:ss.SSS}) %-5level %logger{80}.%method - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/prizedata.log%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
	</appender>
	
	
	<appender name="prizeDateLog-tencent"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.dir}/prizedata-tencent.log</File>
		<encoder>
			<pattern>%-20(%d{yyyy-MM-dd HH:mm:ss.SSS}) %-5level %logger{80}.%method - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/prizeDateLog-tencent.log%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
	</appender>
	
	
	<appender name="prizeDateLog-web"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.dir}/prizedata-web.log</File>
		<encoder>
			<pattern>%-20(%d{yyyy-MM-dd HH:mm:ss.SSS}) %-5level %logger{80}.%method - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/prizeDateLog-web.log%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
	</appender>
	
	
	<logger name="org.apache" level="ERROR" />
	<logger name="org.hibernate.SQL" level="ERROR" />
	<logger name="org.hibernate" level="ERROR" />
	<logger name="org.springframework" level="ERROR" />
	<logger name="net.sf" level="ERROR" />


	<logger name="com.ruyicai.prizedata.controller.TencentStatisticsDataController" additivity="false"
		level="info">
		<appender-ref ref="prizeDateLog-tencent" />
	</logger>
	
	<logger name="com.ruyicai.prizedata.controller.StatisticsDataController" additivity="false"
		level="info">
		<appender-ref ref="prizeDateLog-web" />
	</logger>
	
    <root level="INFO">
		<appender-ref ref="${logback.appender}" />
	</root>
</configuration>
